<a href="https://colab.research.google.com/github/aditisinghq/book-talk/blob/main/colab_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**using KNN in item based collaborative filtering**
finding similarities between items i.e books based on the ratings they've been given

In [ ]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 2.7 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein) (57.2.0)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149858 sha256=d9d670cba15808352c447f957a59525c4d328a91a9322bdbb7cdbe8e70353bee
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.2

In [ ]:
import numpy as np 
import pandas as pd
import scipy.sparse
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process
pd.set_option('mode.chained_assignment', None)
pd.set_option('display.max_colwidth',None)

In [ ]:
#bookcrossing dataset. has ratings data but books don't have descriptions
Books = pd.read_csv('/content/drive/MyDrive/Books.csv',low_memory=False)
Ratings = pd.read_csv('/content/drive/MyDrive/Ratings.csv',low_memory=False)
Users = pd.read_csv('/content/drive/MyDrive/Users.csv',low_memory=False)

In [ ]:
books7k = pd.read_csv('/content/drive/MyDrive/books7k.csv',low_memory=False)
books7k=books7k[['isbn10','title','description','categories','thumbnail','authors']]
print("before dropping null: ",books7k.shape)
books7k.dropna(inplace=True)
print("after dropping null: ",books7k.shape)

before dropping null:  (6810, 6)
after dropping null:  (6247, 6)

In [ ]:
#remove books that are not in 7k(since there's no description available)
Books=Books[Books['ISBN'].isin(list(books7k['isbn10'].unique()))]
Books.shape

(2265, 8)

In [ ]:
print("shape before cleaning:",Ratings.shape)
Ratings = Ratings[Ratings['User-ID'].isin(list(Users['User-ID'].unique()))]
Ratings = Ratings[Ratings['ISBN'].isin(list(Books['ISBN'].unique()))]
print("shape after cleaning:",Ratings.shape)

shape before cleaning: (1149780, 3)
shape after cleaning: (39554, 3)

In [ ]:
Books.head()

           ISBN  ...                                                   Image-URL-L
18   0440234743  ...  http://images.amazon.com/images/P/0440234743.01.LZZZZZZZ.jpg
44   0553582909  ...  http://images.amazon.com/images/P/0553582909.01.LZZZZZZZ.jpg
51   0842342702  ...  http://images.amazon.com/images/P/0842342702.01.LZZZZZZZ.jpg
90   0316769487  ...  http://images.amazon.com/images/P/0316769487.01.LZZZZZZZ.jpg
105  067976397X  ...  http://images.amazon.com/images/P/067976397X.01.LZZZZZZZ.jpg

[5 rows x 8 columns]

In [ ]:
Ratings.head()

     User-ID        ISBN  Book-Rating
20    276747  0679776818            8
109   276804  0440498058            8
112   276808  0395547032           10
134   276822  0141310340            9
329   276872  0425188221            7

data has been preprocessed and cleaned up a fair bit. (there are some anamolies in publication years but since we're not using with those values. so ignoring them for now)

In [ ]:
#removing users who have rated less than 5 books and books that have been rated less than 3 times 
counts1 = Ratings['User-ID'].value_counts()
Ratings = Ratings[Ratings['User-ID'].isin(counts1[counts1 >=5].index)]
counts = Ratings['Book-Rating'].value_counts()
Ratings = Ratings[Ratings['Book-Rating'].isin(counts[counts >= 3].index)]
Ratings.shape
#getting books which are present in our updated ratings dataframes 
Books=Books[Books['ISBN'].isin(list(Ratings['ISBN']))]#we only have books which have ratings in the Ratings df(updated df)
Books

              ISBN  ...                                                   Image-URL-L
18      0440234743  ...  http://images.amazon.com/images/P/0440234743.01.LZZZZZZZ.jpg
44      0553582909  ...  http://images.amazon.com/images/P/0553582909.01.LZZZZZZZ.jpg
51      0842342702  ...  http://images.amazon.com/images/P/0842342702.01.LZZZZZZZ.jpg
90      0316769487  ...  http://images.amazon.com/images/P/0316769487.01.LZZZZZZZ.jpg
105     067976397X  ...  http://images.amazon.com/images/P/067976397X.01.LZZZZZZZ.jpg
...            ...  ...                                                           ...
267428  0872205541  ...  http://images.amazon.com/images/P/0872205541.01.LZZZZZZZ.jpg
268067  0312155328  ...  http://images.amazon.com/images/P/0312155328.01.LZZZZZZZ.jpg
268736  0312421974  ...  http://images.amazon.com/images/P/0312421974.01.LZZZZZZZ.jpg
270914  0751506451  ...  http://images.amazon.com/images/P/0751506451.01.LZZZZZZZ.jpg
271071  0439436540  ...  http://images.amazon.com/images/P/0439436540.01.LZZZZZZZ.jpg

[2008 rows x 8 columns]

In [ ]:
Ratings.loc[Ratings['ISBN'] == '0451528557']

        User-ID        ISBN  Book-Rating
422606   100906  0451528557            9

In [ ]:
#creating 2d matrix with user ids and isbns 

rating_pivot = Ratings.pivot(index = 'ISBN', columns = 'User-ID', values = 'Book-Rating').fillna(0)
rating_matrix = csr_matrix(rating_pivot.values)
rating_pivot2=rating_pivot.reset_index()

rating_pivot2.index[rating_pivot2['ISBN'] == '0020442602'].tolist()[0]

4

In [ ]:
|#reseting index beacuse there was an issue when index of books did not match and exceeded the 
#matrix dimensions
Books=Books.reset_index()
Books

SyntaxError: ignored

In [ ]:
#books7k also cleaned up to only have books that are in final Ratings dataframe
books7k=books7k[books7k['isbn10'].isin(list(Ratings['ISBN'].unique()))]
books7k.head()

        isbn10  ...                 authors
2   0006163831  ...    Stephen R. Donaldson
27  0006512674  ...  Michael Marshall Smith
95  0020199856  ...     F. Scott Fitzgerald
97  0020360754  ...            Annie Proulx
98  0020442602  ...     Clive Staples Lewis

[5 rows x 6 columns]

In [ ]:
model_knn=NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=9)
model_knn.fit(rating_matrix)

rating_matrix
#scipy.sparse.save_npz('rat_matrix.npz', rating_matrix)
#your_matrix_back = sparse.load_npz("yourmatrix.npz")

<2008x1646 sparse matrix of type '<class 'numpy.float64'>'
	with 6876 stored elements in Compressed Sparse Row format>

In [ ]:
def recommend(book_title, data, model, n_recommendations ):#we have PROVED that there is an index mismaatch in data and the books so, try to get the index of the book with ISBN==isbn.....can we reindex?made a new pivot with index matching rat_mat
    rec_isbn=[]
    rec_df=pd.DataFrame()
    model.fit(data)
    idx=process.extractOne(book_title, Books['Book-Title'])[2]
    isbn=Books['ISBN'][idx]
    print(isbn)
    isbn_ind=rating_pivot2.index[rating_pivot2['ISBN'] == isbn ].tolist()[0]
    distances, indices=model.kneighbors(data[isbn_ind], n_neighbors=n_recommendations)
    ind=indices.flatten()
    print(idx)
    for i in ind:
      if(i!=idx):
        rec_isbn.append(Books['ISBN'][i])
      else:
        display(books7k.loc[books7k['isbn10'] == Books['ISBN'][i]])
    rec_df=books7k[books7k['isbn10'].isin(rec_isbn)]  
    print("similar books are:")
    return rec_df
book_name=input("enter the title of a book you liked: ")
recommend(book_name, rating_matrix, model_knn,9)

enter the title of a book you liked: time machine
0451528557
1413
similar books are:

          isbn10  ...                       authors
1582  0312876629  ...              Orson Scott Card
1803  0345407865  ...                   Alison Weir
2127  0375727132  ...                    Ann Packer
2278  0385335970  ...                Diana Gabaldon
3224  0500203474  ...                Richard Hollis
3462  0553346113  ...    Sam Shepard;Joseph Chaikin
3861  0671662341  ...  Miep Gies;Alison Leslie Gold
5349  0836246217  ...               Mary Engelbreit
6568  1853260738  ...                  Daniel Defoe

[9 rows x 6 columns]

while most of the recommendations are fiction and similar there are some irrelevant results but might have been rated highly by users.